<div class="c-homeowner__form" style="width: 80%; margin-left: 10%;">
  <div class="js-form-remote-target">
    <h3 class="t-page-title t-page-title--capitalize">Quotation Form</h3>
    <%= render partial: 'insurances/form'%>

    <div id=second-form></div>
  </div>
</div>
